{% extends "web/base.html" %}
{% load static %}}
{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/carga.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
{% endblock estilos %}
{% block nombrePestana %}
    <title>Carga de datos</title>
{% endblock nombrePestana %}
{% block contenido %}

<div class="wrapper">
    <header>File Uploader JavaScript</header>
    <form action="#">
      <input class="file-input" type="file" name="file" hidden>
      <i class="fas fa-cloud-upload-alt"></i>
      <p>Browse File to Upload</p>
    </form>
    <section class="progress-area"></section>
    <section class="uploaded-area"></section>
  </div>
{% endblock contenido %}

{% block js %}
  <script src="{% static 'js/carga.js'%}"></script>
{% endblock js %}
