{% extends "web/base.html" %}
{% load static %}}
{% block estilos %}
<link href="https://fonts.googleapis.com/css?family=Inter:400,800,900&display=swap" rel="stylesheet">
<script src="https://unpkg.com/vega@5.4.0/build/vega.min.js"></script>
<script src="https://unpkg.com/vega-lite@4.0.0-beta.1/build/vega-lite.min.js"></script>
<script src="https://unpkg.com/vega-lite-api@0.1.0/build/vega-lite-api.min.js"></script>
<script src="https://unpkg.com/vega-tooltip@0.19.1/build/vega-tooltip.min.js"></script>
<script src="https://unpkg.com/d3@5.16.0/dist/d3.min.js"></script>
<link rel="stylesheet" href="{% static 'css/panel.css'%}">
{% endblock estilos %}
{% block nombrePestana %}
<title>Panel Facebook</title>
{% endblock nombrePestana %}
{% block contenido %}
<div class="container-fluid mt-5">
  <h2 class="mb-5 text-center">Grafico de Facebook</h2>
  <div class="row">
    <div class="col-xl-6 text-center">
      <h2>Grafico Megusta 👍</h2>
      <div id="grafico-megusta"></div>
      <!--<div class="col-12 text-center">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="positivo" type="radio" class="form-check-input" name="Megusta" disabled checked>Positivo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="negativo" type="radio" class="form-check-input" name="Megusta" disabled>Negativo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="neutro" type="radio" class="form-check-input" name="Megusta" disabled>Neutro
          </label>
        </div>
      </div>-->
    </div>
    <div class="col-xl-6 text-center">
      <h2>Grafico Corazones 💖</h2>
      <div id="grafico-love"></div>  
      <!--<div class="col-12 text-center">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="positivo" type="radio" class="form-check-input" name="Corazones" disabled checked>Positivo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="negativo" type="radio" class="form-check-input" name="Corazones" disabled>Negativo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="neutro" type="radio" class="form-check-input" name="Corazones" disabled>Neutro
          </label>
        </div>
      </div>-->
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-xl-6 text-center">
      <h2>Grafico Divertido 😂</h2>
      <div id="grafico-Medivierte"></div>
      <!--<div class="col-12 text-center">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="positivo" type="radio" class="form-check-input" name="Divertido" disabled checked>Positivo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="negativo" type="radio" class="form-check-input" name="Divertido" disabled>Negativo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="neutro" type="radio" class="form-check-input" name="Divertido" disabled>Neutro
          </label>
        </div>
      </div>-->
    </div>
    <div class="col-xl-6 text-center">
      <h2>Grafico Sorprendido 😲</h2>
      <div id="grafico-Wow"></div>  
      <!--<div class="col-12 text-center">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="positivo" type="radio" class="form-check-input" name="Sorprendido" disabled checked>Positivo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="negativo" type="radio" class="form-check-input" name="Sorprendido" disabled>Negativo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="neutro" type="radio" class="form-check-input" name="Sorprendido" disabled>Neutro
          </label>
        </div>
      </div>-->
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-xl-6 text-center">
      <h2>Grafico Triste 😭</h2>
      <div id="grafico-Sad"></div>
      <!--<div class="col-12 text-center">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="positivo" type="radio" class="form-check-input" name="Triste" disabled>Positivo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="negativo" type="radio" class="form-check-input" name="Triste" disabled checked>Negativo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="neutro" type="radio" class="form-check-input" name="Triste" disabled>Neutro
          </label>
        </div>
      </div>-->
    </div>
    <div class="col-xl-6 text-center">
      <h2>Grafico Enojado 😤</h2>
      <div id="grafico-Angry"></div>  
      <!--<div class="col-12 text-center">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="positivo" type="radio" class="form-check-input" name="Enojado" disabled>Positivo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="negativo" type="radio" class="form-check-input" name="Enojado" disabled checked>Negativo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input id="neutro" type="radio" class="form-check-input" name="Enojado" disabled>Neutro
          </label>
        </div>
      </div>-->
    </div>
  </div>
</div>

<script src="{% static 'js/prueba/GraficoFacebook.js'%}"></script>

{% endblock contenido %}

{% block js %}
<!--<script src="{% static 'js/graphXR.injection.js'%}"></script>-->
<script src="{% static 'js/menu.js'%}"></script>
{% endblock js %}