svg {
  display: block;
}
.chart {
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  background: white;
  cursor: default;
}
.link {
  fill: gray;
  stroke: gray;
  stroke-width: 1px;
}
.circle {
  cursor: grab;
}
.circle--grabbing {
  cursor: grabbing;
}
.node {
  stroke: gray;
  stroke-width: 2px;
}
.node--author {
  fill: #ea2e49;
}
.node--link {
  fill: #77c4d3;
}
.image {
  border: 1px solid white;
}
.title {
  font-size: 3vw;
  font-weight: bold;
  fill: gray;
}
.legend--text {
  font-size: 14px;
  font-weight: bold;
  fill: gray;
}
.legend--color {
  stroke: gray;
  stroke-width: 2px;
}
.legend--author-color {
  fill: #ea2e49;
}
.legend--domain-color {
  fill: #77c4d3;
}
.tooltip {
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  pointer-events: none;
  text-align: center;
}
.active--author {
  background: #ea2e49;
}
.active--link {
  background: #77c4d3;
}
